<nav class="nav nav-pills nav-justified">
  <a class="navbar-brand" [routerLink]="['/']">Polecon Tools</a>
  <a class="nav-item nav-link" [routerLink]='["/"]' [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <span class='glyphicon glyphicon-home'></span> Home
  </a>
  <a class="nav-item nav-link" [routerLink]='["/chart"]' [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <span class='glyphicon glyphicon-education'></span> Chart
  </a>
  <a class="nav-item nav-link" [routerLink]='["/chart/sweden"]' [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <span class='glyphicon glyphicon-education'></span> Experimental
  </a>
  <a class="nav-item nav-link" [routerLink]="['definition']" [routerLinkActive]="['active']" [routerLinkActiveOptions]='{ exact: true }'>
    <span class=""></span> Definitions
  </a>
  <a class="nav-item nav-link" [routerLink]="['/report/debasement']" [routerLinkActive]="['active']" [routerLinkActiveOptions]='{ exact: true }'>
    <span class=""></span> Reports
  </a>
</nav>
